@import "mixins.scss";
#AlarmsContent_AlarmList1 {	@include elemTop(1);
}
#AlarmsContent_AlarmList1 {	@include elemLeft(1);
}
#AlarmsContent_AlarmList1 {	@include elemWidth(685);
}
#AlarmsContent_AlarmList1 {	@include elemHeight(316);
}
#AlarmsContent_AlarmList1 {	z-index: 0;
}
#AlarmsContent_AlarmListItem1 {	@include elemWidth(200);
}
#AlarmsContent_AlarmListItem1 {	z-index: 0;
}
#AlarmsContent_AlarmListItem2 {	@include elemWidth(200);
}
#AlarmsContent_AlarmListItem2 {	z-index: 1;
}
#AlarmsContent_AlarmListItem3 {	@include elemWidth(200);
}
#AlarmsContent_AlarmListItem3 {	z-index: 2;
}
