@import "mixins.scss";
#SettingContent_LogoConvSpeed {	@include elemAutoWidth(100);
}
#SettingContent_LogoConvSpeed {	@include elemAutoHeight(30);
}
#SettingContent_LogoConvSpeed {	@include elemTop(14);
}
#SettingContent_LogoConvSpeed {	@include elemLeft(573);
}
#SettingContent_LogoConvSpeed {	z-index: 0;
}
#SettingContent_SortConvSpeed {	@include elemAutoWidth(100);
}
#SettingContent_SortConvSpeed {	@include elemAutoHeight(30);
}
#SettingContent_SortConvSpeed {	@include elemTop(77);
}
#SettingContent_SortConvSpeed {	@include elemLeft(573);
}
#SettingContent_SortConvSpeed {	z-index: 1;
}
#SettingContent_LogoCSpd {	@include elemAutoHeight(30);
}
#SettingContent_LogoCSpd {	@include elemTop(16);
}
#SettingContent_LogoCSpd {	@include elemLeft(290);
}
#SettingContent_LogoCSpd {	@include elemAutoWidth(253);
}
#SettingContent_LogoCSpd {	z-index: 2;
}
#SettingContent_Label2 {	@include elemAutoHeight(30);
}
#SettingContent_Label2 {	@include elemTop(79);
}
#SettingContent_Label2 {	@include elemLeft(290);
}
#SettingContent_Label2 {	@include elemAutoWidth(253);
}
#SettingContent_Label2 {	z-index: 3;
}
#SettingContent_LogoConvAcc {	@include elemAutoWidth(100);
}
#SettingContent_LogoConvAcc {	@include elemAutoHeight(30);
}
#SettingContent_LogoConvAcc {	@include elemTop(141);
}
#SettingContent_LogoConvAcc {	@include elemLeft(573);
}
#SettingContent_LogoConvAcc {	z-index: 4;
}
#SettingContent_SortConvAcc {	@include elemAutoWidth(100);
}
#SettingContent_SortConvAcc {	@include elemAutoHeight(30);
}
#SettingContent_SortConvAcc {	@include elemTop(204);
}
#SettingContent_SortConvAcc {	@include elemLeft(573);
}
#SettingContent_SortConvAcc {	z-index: 5;
}
#SettingContent_LogoCAcc {	@include elemAutoHeight(30);
}
#SettingContent_LogoCAcc {	@include elemTop(143);
}
#SettingContent_LogoCAcc {	@include elemLeft(290);
}
#SettingContent_LogoCAcc {	@include elemAutoWidth(253);
}
#SettingContent_LogoCAcc {	z-index: 6;
}
#SettingContent_sortCA {	@include elemAutoHeight(30);
}
#SettingContent_sortCA {	@include elemTop(206);
}
#SettingContent_sortCA {	@include elemLeft(290);
}
#SettingContent_sortCA {	@include elemAutoWidth(253);
}
#SettingContent_sortCA {	z-index: 7;
}
#SettingContent_LogoConvDecc {	@include elemAutoWidth(100);
}
#SettingContent_LogoConvDecc {	@include elemAutoHeight(30);
}
#SettingContent_LogoConvDecc {	@include elemTop(263);
}
#SettingContent_LogoConvDecc {	@include elemLeft(573);
}
#SettingContent_LogoConvDecc {	z-index: 8;
}
#SettingContent_SortConvAcc1 {	@include elemAutoWidth(100);
}
#SettingContent_SortConvAcc1 {	@include elemAutoHeight(30);
}
#SettingContent_SortConvAcc1 {	@include elemTop(326);
}
#SettingContent_SortConvAcc1 {	@include elemLeft(573);
}
#SettingContent_SortConvAcc1 {	z-index: 9;
}
#SettingContent_LogoCNAcc {	@include elemAutoHeight(30);
}
#SettingContent_LogoCNAcc {	@include elemTop(265);
}
#SettingContent_LogoCNAcc {	@include elemLeft(290);
}
#SettingContent_LogoCNAcc {	@include elemAutoWidth(253);
}
#SettingContent_LogoCNAcc {	z-index: 10;
}
#SettingContent_sortCNAcc {	@include elemAutoHeight(30);
}
#SettingContent_sortCNAcc {	@include elemTop(328);
}
#SettingContent_sortCNAcc {	@include elemLeft(290);
}
#SettingContent_sortCNAcc {	@include elemAutoWidth(253);
}
#SettingContent_sortCNAcc {	z-index: 11;
}
