@import "mixins.scss";
#UserMgtContent_AddUser {	@include elemTop(330);
}
#UserMgtContent_AddUser {	@include elemLeft(378);
}
#UserMgtContent_AddUser {	@include elemAutoWidth(108);
}
#UserMgtContent_AddUser {	@include elemAutoHeight(46);
}
#UserMgtContent_AddUser {	z-index: 0;
}
#UserMgtContent_AddUser {	@include border-radius(5px);
}
#UserMgtContent_AddUser {	&:not(.disabled):not(.active):not(.checked) {
		background-color: rgba(255, 224, 192, 1);
	}
}
#UserMgtContent_AddUser {	&.disabled {
		background-color: rgba(255, 224, 192, 1);
	}
}
#UserMgtContent_AddUser {	&.disabled.active {
		background-color: rgba(255, 224, 192, 1);
	}
}
#UserMgtContent_AddUser {	&.disabled.checked {
		background-color: rgba(255, 224, 192, 1);
	}
}
#UserMgtContent_AddUser {	&:not(.disabled):not(.active):not(.checked) {
		border-color: rgba(0, 0, 0, 1);
	}
}
#UserMgtContent_AddUser {	&.disabled span {
		color: rgba(255, 224, 192, 1);
	}
}
#UserMgtContent_AddUser {	&.disabled.active span {
		color: rgba(255, 224, 192, 1);
	}
}
#UserMgtContent_AddUser {	&.disabled:checked span {
		color: rgba(255, 224, 192, 1);
	}
}
#UserMgtContent_AddUser {	span {
		font-size: 15px;
	}
}
#UserMgtContent_AddUser {	span {
		font-family: Arial Unicode;
	}
}
#UserMgtContent_AddUser {	span {
		@include font-style-italic(false);
	}
}
#UserMgtContent_ModUser {	@include elemTop(396);
}
#UserMgtContent_ModUser {	@include elemLeft(378);
}
#UserMgtContent_ModUser {	@include elemAutoWidth(108);
}
#UserMgtContent_ModUser {	@include elemAutoHeight(46);
}
#UserMgtContent_ModUser {	z-index: 1;
}
#UserMgtContent_ModUser {	@include border-radius(5px);
}
#UserMgtContent_ModUser {	&:not(.disabled):not(.active):not(.checked) {
		background-color: rgba(255, 224, 192, 1);
	}
}
#UserMgtContent_ModUser {	&.disabled {
		background-color: rgba(255, 224, 192, 1);
	}
}
#UserMgtContent_ModUser {	&.disabled.active {
		background-color: rgba(255, 224, 192, 1);
	}
}
#UserMgtContent_ModUser {	&.disabled.checked {
		background-color: rgba(255, 224, 192, 1);
	}
}
#UserMgtContent_ModUser {	&:not(.disabled):not(.active):not(.checked) {
		border-color: rgba(0, 0, 0, 1);
	}
}
#UserMgtContent_ModUser {	&.disabled span {
		color: rgba(255, 224, 192, 1);
	}
}
#UserMgtContent_ModUser {	&.disabled.active span {
		color: rgba(255, 224, 192, 1);
	}
}
#UserMgtContent_ModUser {	&.disabled:checked span {
		color: rgba(255, 224, 192, 1);
	}
}
#UserMgtContent_ModUser {	span {
		font-size: 15px;
	}
}
#UserMgtContent_ModUser {	span {
		font-family: Arial Unicode;
	}
}
#UserMgtContent_ModUser {	span {
		@include font-style-italic(false);
	}
}
#UserMgtContent_Login {	@include elemTop(323);
}
#UserMgtContent_Login {	@include elemLeft(19);
}
#UserMgtContent_Login {	@include elemWidth(314);
}
#UserMgtContent_Login {	@include elemHeight(118);
}
#UserMgtContent_Login {	z-index: 2;
}
#UserMgtContent_Logout {	@include elemTop(462);
}
#UserMgtContent_Logout {	@include elemLeft(528);
}
#UserMgtContent_Logout {	@include elemAutoWidth(142);
}
#UserMgtContent_Logout {	@include elemAutoHeight(46);
}
#UserMgtContent_Logout {	z-index: 3;
}
#UserMgtContent_Logout {	@include border-radius(5px);
}
#UserMgtContent_Logout {	&:not(.disabled):not(.active):not(.checked) {
		background-color: rgba(255, 224, 192, 1);
	}
}
#UserMgtContent_Logout {	&.disabled {
		background-color: rgba(255, 224, 192, 1);
	}
}
#UserMgtContent_Logout {	&.disabled.active {
		background-color: rgba(255, 224, 192, 1);
	}
}
#UserMgtContent_Logout {	&.disabled.checked {
		background-color: rgba(255, 224, 192, 1);
	}
}
#UserMgtContent_Logout {	&:not(.disabled):not(.active):not(.checked) {
		border-color: rgba(0, 0, 0, 1);
	}
}
#UserMgtContent_Logout {	&.disabled span {
		color: rgba(255, 224, 192, 1);
	}
}
#UserMgtContent_Logout {	&.disabled.active span {
		color: rgba(255, 224, 192, 1);
	}
}
#UserMgtContent_Logout {	&.disabled:checked span {
		color: rgba(255, 224, 192, 1);
	}
}
#UserMgtContent_Logout {	span {
		font-size: 15px;
	}
}
#UserMgtContent_Logout {	span {
		font-family: Arial Unicode;
	}
}
#UserMgtContent_DeltUser {	@include elemTop(462);
}
#UserMgtContent_DeltUser {	@include elemLeft(378);
}
#UserMgtContent_DeltUser {	@include elemAutoWidth(108);
}
#UserMgtContent_DeltUser {	@include elemAutoHeight(46);
}
#UserMgtContent_DeltUser {	z-index: 4;
}
#UserMgtContent_DeltUser {	@include border-radius(5px);
}
#UserMgtContent_DeltUser {	&:not(.disabled):not(.active):not(.checked) {
		background-color: rgba(255, 224, 192, 1);
	}
}
#UserMgtContent_DeltUser {	&.disabled {
		background-color: rgba(255, 224, 192, 1);
	}
}
#UserMgtContent_DeltUser {	&.disabled.active {
		background-color: rgba(255, 224, 192, 1);
	}
}
#UserMgtContent_DeltUser {	&.disabled.checked {
		background-color: rgba(255, 224, 192, 1);
	}
}
#UserMgtContent_DeltUser {	&:not(.disabled):not(.active):not(.checked) {
		border-color: rgba(0, 0, 0, 1);
	}
}
#UserMgtContent_DeltUser {	&.disabled span {
		color: rgba(255, 224, 192, 1);
	}
}
#UserMgtContent_DeltUser {	&.disabled.active span {
		color: rgba(255, 224, 192, 1);
	}
}
#UserMgtContent_DeltUser {	&.disabled:checked span {
		color: rgba(255, 224, 192, 1);
	}
}
#UserMgtContent_DeltUser {	span {
		font-size: 15px;
	}
}
#UserMgtContent_DeltUser {	span {
		font-family: Arial Unicode;
	}
}
#UserMgtContent_DeltUser {	span {
		@include font-style-italic(false);
	}
}
#UserMgtContent_UserList {	@include elemHeight(300);
}
#UserMgtContent_UserList {	@include elemTop(2);
}
#UserMgtContent_UserList {	@include elemLeft(2);
}
#UserMgtContent_UserList {	@include elemWidth(684);
}
#UserMgtContent_UserList {	z-index: 5;
}
#UserMgtContent_UserListItem {	@include elemWidth(200);
}
#UserMgtContent_UserListItem {	z-index: 0;
}
#UserMgtContent_UserListItem1 {	@include elemWidth(200);
}
#UserMgtContent_UserListItem1 {	z-index: 1;
}
#UserMgtContent_UserListItem2 {	@include elemWidth(200);
}
#UserMgtContent_UserListItem2 {	z-index: 2;
}
